@use "../variables" as *;

.pagination {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  &__item {
    background-color: $accent-color;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover {
      background-color: $accent-secondary-color;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }

    &__active {
      background-color: $secondary-color;
      color: $background-color;
      border: 2px solid $secondary-color;

      &:hover {
        background-color: $secondary-color;
        color: $background-color;
        border: 2px solid $secondary-color;
      }
    }
  }
}
