.employee-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  &__title {
    color: $primary-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70vh;
    justify-content: space-between;

    @media (min-width: 600px) {
      height: fit-content;
      gap: 32px;
    }
  }

  &__field-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }

  &__field {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;
    align-items: center;

    > label {
      color: $primary-color;
      display: flex;
    }
    > input {
      background-color: $input-color;
      border: 2px solid $primary-color;
      color: $primary-color;
      border-radius: 8px;
      padding: 8px;
      width: 25vw;
    }
  }

  &__submit {
    padding: 8px 16px;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 8px;
    border-color: transparent;
    transition-duration: 300ms;

    &:hover {
      background-color: $secondary-color;
      transition-duration: 300ms;
    }
  }

  &__button-group {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: space-between;

    > button,
    > input {
      width: 100%;
    }

    @media (min-width: 600px) {
      width: fit-content;
      justify-content: end;
      gap: 16px;
    }
  }
}
