@use "../variables" as *;

.employee-index{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    height: max-content;
    
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button-group{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 16px;
    }

    &__button{
        color: $background-color;
        width: 12vw;
        padding: 8px 16px;
    }

    &__select{
        background-color: $input-color;
        border: 2px solid $primary-color;
        color: $primary-color;
        border-radius: 8px;
        padding: 8px;
        width: 12vw;
    }

    &__filters{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 16px;
    }
}