/// Colors
$primary-color: #38295b;
$secondary-color: #5b2950;
$accent-color: #ddcffd;
$background-color: #e9e3e8;
$input-color: #f1edfa;

///Shadow
.elevated {
  filter: drop-shadow(0px 8px 12px #00000015);
  filter: drop-shadow(0px 4px 4px #00000030);
}
