@use "@/styles/_index.scss" as *;

html{
    background-color: $background-color;
    padding: 16px
}

.page {
  padding: 16px 0px 8px
}

p,
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

p {
  font-size: 16px;
}

h1 {
    font-size: 24px;
}
