@use "@/styles/_index.scss" as *;

html {
  background-color: $background-color;
  padding: 16px;
}

.page {
  padding: 16px 0px 8px;
}

p,
h1,
button,td, select, option, label, input{
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

p, td, select, option, button, label, input {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

button {
  padding: 8px 16px;
  background-color: $primary-color;
  color: $background-color;
  border-radius: 8px;
  border-color: transparent;
  transition-duration: 300ms;

  &:hover{
    background-color: $secondary-color;
    transition-duration: 300ms;
  }
}
