.employee-table {
  background-color: $primary-color;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  border-collapse: separate;

  &__head &__row {
    background-color: $primary-color;
    color: $background-color;
  }

  &__body &__row {
    background-color: $background-color;
    color: $primary-color;
    &:nth-child(2n) {
      background-color: $accent-color;
      color: $primary-color;
    }
  }

  &__empty {
    background-color: $background-color;
    color: $primary-color;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: bold;
    font-size: 24px;
    height: 63vh;
  }

  &__body {
    overflow: hidden;
    border-radius: 4px;
    height: 63vh;
  }

  &__row {
    padding: 8px;
  }

  td {
    padding: 4px 8px;
    text-align: center;
    height: 6vh;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    &__button {
      background-color: transparent;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }

      &__icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}
